/HelpDeskKontaktRs.class
/HelpDeskKontaktVo.class
/HelpDeskPozivAktivnostRs.class
/HelpDeskPozivKomentarRs.class
/HelpDeskPozivKomentarVo.class
/HelpDeskPozivPrivitakRs.class
/HelpDeskPozivPrivitakVo.class
/HelpDeskPozivRs.class
/HelpDeskPozivStatusVo.class
/HelpDeskPozivVo.class
/HelpDeskRadniNalogAktivnostVo.class
/HelpDeskRadniNalogPrivitakRs.class
/HelpDeskRadniNalogPrivitakVo.class
/HelpDeskRadniNalogRs.class
/HelpDeskRadniNalogStatusVo.class
/HelpDeskRadniNalogVo.class
/HelpDeskRs.class
/HelpDeskVo.class
