/AdresaRs.class
/AdresaVo.class
/BaznaOpomenaVo.class
/IzvjestajRs.class
/IzvjestajVo.class
/OsnovniRs.class
/OsnovniVo.class
/PartijaRs.class
/PartijaVo.class
/RacunPartijeRs.class
/RacunPartijeVo.class
/RadnikRs.class
/RadnikVo.class
/ZahtjevPrivitakRs.class
/ZahtjevPrivitakVo.class
