/CmdbDjelatnikRs.class
/CmdbDjelatnikVo.class
/CmdbDobavljacRs.class
/CmdbDobavljacVo.class
/CmdbImovinaDodatakRs.class
/CmdbImovinaDodatakVo.class
/CmdbImovinaKorisnikRs.class
/CmdbImovinaKorisnikVo.class
/CmdbImovinaPrivitakRs.class
/CmdbImovinaPrivitakVo.class
/CmdbImovinaRs.class
/CmdbImovinaVezaRs.class
/CmdbImovinaVezaVo.class
/CmdbImovinaVo.class
/CmdbKvarRs.class
/CmdbKvarVo.class
/CmdbMrezniCvorRs.class
/CmdbMrezniCvorVo.class
/CmdbOrgJedinicaRs.class
/CmdbOrgJedinicaVo.class
/CmdbPromjenaPrivitakRs.class
/CmdbPromjenaPrivitakVo.class
/CmdbPromjenaRs.class
/CmdbPromjenaVo.class
/CmdbRs.class
/CmdbVo.class
/DjelatnikIzobrazbaRs.class
/DjelatnikIzobrazbaVo.class
/DjelatnikVjestinaRs.class
/DjelatnikVjestinaVo.class
/EmailRs.class
/EmailVo.class
/IzobrazbaRs.class
/IzobrazbaVo.class
/VjestinaRs.class
/VjestinaVo.class
