/OperativniRizikRs.class
/OperativniRizikVo.class
/OrDogadajRs.class
/OrDogadajVo.class
/OrGubitakRs.class
/OrGubitakVo.class
/OrKategorijaDogadajaRs.class
/OrKategorijaDogadajaVo.class
/OrKategorijaGubitkaRs.class
/OrKategorijaGubitkaVo.class
/OrKontniPlanRs.class
/OrKontniPlanVo.class
/OrKontrolaRs.class
/OrKontrolaVo.class
/OrNadoknadaRs.class
/OrNadoknadaVo.class
/OrOcjenaRs.class
/OrOcjenaVo.class
/OrPoduzetaMjeraRs.class
/OrPoduzetaMjeraVo.class
/OrPoslovnaFunkcijaRs.class
/OrPoslovnaFunkcijaVo.class
/OrPoslovnaLinijaRs.class
/OrPoslovnaLinijaVo.class
/OrPrijetnjaRs.class
/OrPrijetnjaVo.class
/OrUzrokDogadajaRs.class
/OrUzrokDogadajaVo.class
