/BankaRs.class
/BankaVo.class
/BankarskiProizvodRs.class
/BankarskiProizvodVo.class
/Bon2Rs.class
/Bon2Vo.class
/DobavljacRs.class
/DobavljacVo.class
/KolateralPonudeniRs.class
/KolateralPonudeniVo.class
/KratkorocniPlanRs.class
/KratkorocniPlanVo.class
/KupacRs.class
/KupacVo.class
/OsiguranjeRs.class
/OsiguranjeVo.class
/PodaciKlijentaRs.class
/PodaciKlijentaVo.class
/PoslovniOdnosBankaRs.class
/PoslovniOdnosBankaVo.class
/PovezanaOsobaRs.class
/PovezanaOsobaVo.class
/ProcjenaRizikaRs.class
/ProcjenaRizikaVo.class
/RizikKomentarRs.class
/RizikKomentarVo.class
/RizikRs.class
/RizikVo.class
/StatusZahtjevaRs.class
/StatusZahtjevaVo.class
/UrednostRs.class
/UrednostVo.class
/VikrRs.class
/VikrVo.class
/ZaduzenostKodBankeRs.class
/ZaduzenostKodBankeVo.class
/ZaduzenostRs.class
/ZaduzenostVo.class
/ZahtjevPravnaOsobaRs.class
/ZahtjevPravnaOsobaVo.class
